{% extends 'OCPlatformBundle::layout.html.twig' %}

{% block title %}
	Supprimer une annonce - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
	<h2>Supprimer une annonce</h2>
{% endblock %}
